<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

  }

  </style>
</head>
<body>
  <section  style="height: 100vh; background-color: #ff0000; color: #fff">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h1 class="center">FASHION AND MANY THINGS MORE</h1>
        </div>
      </div>
    </div>
  </section>

</body>
</html>